body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4285f4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho del contenedor al 100% del ancho disponible */
    height: 100vh; /* Altura fija igual al 100% de la altura de la ventana */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    background-color: white; /* Color de fondo del contenedor */
    padding: 20px; /* Agrega espaciado alrededor del contenido */
    border: 1px solid #ccc; /* Agrega un borde al contenedor para mayor claridad */
}

.container img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Hace que la altura de la imagen se ajuste automáticamente */
}
